 body {background-color: hsl(235,21%,70%);
 }
  
main{
  background-image: url(products-style/mobile/new-background.jpg);
  background-size: 1510px 500px;
  background-repeat:no-repeat;
  color: #D53E07;
  font-family: sans-serif;
  font-size: 34px;
  column-count: 4;
  border-radius: 8px;
   
}


.product_header {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.partners{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.flex-item {
   display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
  width: 35%;
  margin:50px auto;
  font-size: 1.3em;
}

.mobile-product-image{

}

.partners img{
	display: block;
  color: white;
  text-align: center;
  padding: 45px 16px;
  text-decoration: none;
  
}



.mobile-product-text2{
  font-size: 24px;
  text-align: center;
}


.site-logo-image{
	  float: left;
	  height: auto;
	  width: 220px;
  }
  
  .logo-image{
	  float: left;
	  height: 147px;
	  width: 220px;
  }
  
  footer{	  
    width: : 100%;
    background-color: hsl(235,50%,70%);
    border-radius: 8px;
  }

footer p {
  color: white;
  text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  
}

/*----------------------- Область навигации ------------------------------ */
  nav {
	border-radius: 8px;
	background-color: hsl(235,50%,70%);	
	margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

nav a{
	float: left;
	display: block;
  color: white;
  text-align: center;
  padding: 45px 16px;
  text-decoration: none;
}

  nav a:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    /* add your code below this line */
    animation-fill-mode: forwards;
    /* add your code above this line */
  }
  @keyframes background-color {
    100% {
      background-color: #4791d0;
    }
  }
/*----------------------- Область навигации ------------------------------ */  


/*----------------------- Область обработки цитат ------------------------------ */

.quotes {
  display: flex;
}

.quotes p {
  float: left;
	display: block;
    color: white;
    text-align: center;
    padding: 45px 16px;
    text-decoration: none;
  
}


 blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
  width: 35%;
  margin:50px auto;
  font-size: 1.3em;
}

blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 3em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}

blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: white;
} 

/*----------------------- Область обработки цитат ------------------------------ */



/*----------------------- Область обработки выпадающего меню ------------------------------ */

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*----------------------- Область обработки выпадающего меню ------------------------------ */

.small-flex{
  
}

/*----------------------- Область обработки Grid-элемента для услуг компании ------------------------------ */



.grid-container {
  
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  padding: 10px;
}

.grid-anchor{
  font-size: 21px;
  color: white;
  text-decoration: none;
}

.grid-anchor:hover{
  text-decoration: underline;
}

.grid-header{
  font-size: 26px;
  color: #EFD334;
  text-align: left;
  font-weight: bold;
}
.grid-item {
  background-color: #1A4780;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: left;
  color: white;
}

.product-image{
	height: auto;
	width: 220px;
}

.product-image-2{
	height: 220px;
	width: auto;
}

/*----------------------- Область обработки Grid-элемента для услуг компании ------------------------------ */
  
 